*{
    padding: 0px; 
    margin: 0px;
    outline: none;
    border: none;
}
html{font-size:16px;}
body{font-family:Helvetica;}
.arrow{
    position:absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 9999;
    background-image: url(./../public/arrow.svg);
    background-size:contain;
    background-repeat:no-repeat;
    width:30px;
    height:30px;
    -webkit-animation:arrowUp 1.2s linear infinite;
    animation:arrowUp 1.2s linear infinite;
}
.container .element-box-1{
    background: url(./../public/page1_bg.png)  no-repeat;
    background-size:100% 100%;
    display: table;
}
.container .element-box-1 div{
    display: table-cell;
    vertical-align: middle;
    color: #2c4c71;

}
.zoomIn{
    -webkit-animation:zoomIn 0.8s;
    animation:zoomIn 0.8s;
}
.container .element-box-1 div p{
    font-size: 1.6rem;
    text-align: center;
}
.container .element-box-1 div span{
    position: relative;
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 1.4rem;
}
.element-box-4{
    width: 100%;
    height: 100%;
    background-image: url(./../public/erweima_bg.png);
    background-size: 160% 140%;
    background-repeat: no-repeat;
    background-position: center;
}
.element-box-4-contents div{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.element-box-4-contents div img{
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
}
.element-box-4-contents div p{
    text-align: center;
    color: white;
    font-size: 1.2rem;
}
.element-box-4-contents div a{
    display: block;
    background-color: #1593ff;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0.4rem;
    margin-top: 10rem;
    border-radius: 2rem;
}
@-webkit-keyframes zoomIn{
    from {
        opacity: 0;
        -webkit-transform: scale3d(2, 2, 2);
        transform: scale3d(2, 2, 2);
    }
    50% {
        opacity: 1;
    }
    }
@-webkit-keyframes arrowUp{
    0%{
        transform: translateY(0px)
    }
    100%{
        transform: translateY(-30px)
    }
    }
/* 自定义换页动画 */
@-webkit-keyframes bounceInDown{

    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes bounceInUp{

    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    }
.up{
    -webkit-animation: bounceInUp 1s;
    animation: bounceInUp 1s;
}

.down{
    -webkit-animation: bounceInDown 1s;
    animation: bounceInDown 1s;
}