*{
    padding: 0px; 
    margin: 0px;
    outline: none;
    border: none;
}
html{font-size:16px;}
body{font-family:Helvetica;}
.arrow{
    position:absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 9999;
    background-image: url(./../public/arrow.svg);
    background-size:contain;
    background-repeat:no-repeat;
    width:30px;
    height:30px;
    -webkit-animation:arrowUp 1.2s linear infinite;
    animation:arrowUp 1.2s linear infinite;
}
.container .element-box-1{
    background: url(./../public/page1_bg.png)  no-repeat;
    background-size:100% 100%;
    display: table;
}
.container .element-box-1 div{
    display: table-cell;
    vertical-align: middle;
    color: #2c4c71;

}
.container .element-box-1 div p{
    font-size: 1.6rem;
    text-align: center;
}
.container .element-box-1 div span{
    position: relative;
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 1.4rem;
}
.element-box-4{
    width: 100%;
    height: 100%;
    background-image: url(./../public/erweima_bg.png);
    background-size: 160% 140%;
    background-repeat: no-repeat;
    background-position: center;
}
.element-box-4-contents div,.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.element-box-4-contents div img{
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
}
.element-box-4-contents div p{
    text-align: center;
    color: white;
    font-size: 1.2rem;
}
.element-box-4-contents div a{
    display: block;
    background-color: #1593ff;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0.4rem;
    margin-top: 10rem;
    border-radius: 2rem;
}
.element-box-2,.element-box-3,.element-box-s,.element-box-5,.element-box-6,.element-box-7,.element-box-8{
    background: url(./../public/page_2_bg.png);
    background-size: 100% 100%;
    overflow: hidden;
}
.title{
    margin-top: 3rem;    
    padding-left: 3rem;    
}
.title .index{
    position: absolute;
    left: 0;
    display: inline-block;
    background:#f9da5e;
    width:3rem;
    height:3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1.6rem;
}
.title .title-text{
    display: inline-block;
    background: url(./../public/h_bg.png);
    background-size: 100% 100%;
    font-size: 1rem;
    color: white;
    width: 100%;
    height: 3.8rem;
    line-height: 3.8rem;
    padding-left: 10px;
    margin-top: -0.4rem;
}
.text{
    margin-top: 1rem;
    position: relative;
    padding-left: 2rem;
    line-height: 1.6rem;
}
.text::before{
    content: "";
    display: block;
    position: absolute;
    left: 0.8rem;
    top: 0.4rem;
    background: url(./../public/triangle.svg);
    width: 0.6rem;
    height: 0.6rem;
}
.bottom-bg {
    position: absolute;
    left: 0px;
    bottom: 2rem;
    background-image: url(./../public/page_2_bottom.png);
    width: 100%;
    height: 2rem;
    background-size: 6% 30%;
    background-repeat: repeat-x;
}
.element-box-2-contents img{
    width: 38%;
    border: none;
    float: left;
    margin: 20% 6% 0 6%;
}
.img-row{
    overflow: hidden;
    position: relative;
    left: 2%;
}
.img-center{
    width: 50%;
}
.img-row img{
    display: block;
    float: left;
    width: 30%;
    height: 30%;
    margin: 1rem 1% 0 1%;
}
.element-box-s-contents{
    width: 100%;
    height: 100%;
}
.element-box-s-contents img{
    display: block;
    margin: 4% 10%;
    width: 80%;
    height: 34%;
    -webkit-transition:-webkit-transform 0.8s;
    transition: transform 0.8s;
}
.zoominL{
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
}
.zoominLAni{
    opacity: 1;
    -webkit-transform:translateX(0px);
    transform:translateX(0px);
    -webkit-animation: jello 1s 0.8s;
    animation: jello 1s 0.8s;
}

.zoominR{
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
}
.zoominRAni{
    opacity: 1;
    -webkit-transform:translateX(0px);
    transform:translateX(0px);
    -webkit-animation: jello 1s 0.8s;
    animation: jello 1s 0.8s;
}
.element-box-5-contents img{
    display: block;
    margin: 8% auto 0 auto;
    -webkit-transition:-webkit-transform 0.8s;
    transition: transform 0.8s;
}
.rotateLeft{
    width: 60%;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
}
.rotateRight{
    width: 40%;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
}
.rotateLeftAni{
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
}
.rotateRightAni{
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
}
.element-box-6-contents img{
    width: 34%;
    display: block;
    position: absolute;
}
.img-box{
    position:relative;
    margin-top:1rem;
    width: 100%;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.p1{
    top: 0;
    left: 6%;
    z-index: 4;
    opacity: 0;
}
.p2{
    top: 2rem;
    left: 18%;
    z-index: 3;
    opacity: 0;
}
.p3{
    top: 4rem;
    left: 38%;
    z-index: 2;
    opacity: 0;
}
.p4{
    top: 6rem;
    left: 60%;
    z-index: 1;
    opacity: 0;
}
.p1Ani{
    -webkit-animation: bounceIn 1s ease 0s 1 normal both;
    animation: bounceIn 1s ease 0s 1 normal both;
}
.p2Ani{
-webkit-animation: bounceIn 1s ease 0.5s 1 normal both;
animation: bounceIn 1s ease 0.5s 1 normal both;
}
.p3Ani{
-webkit-animation: bounceIn 1s ease 1s 1 normal both;
animation: bounceIn 1s ease 1s 1 normal both;
}
.p4Ani{
-webkit-animation: bounceIn 1s ease 1.5s 1 normal both;
animation: bounceIn 1s ease 1.5s 1 normal both;
}
.element-box-7-contents img{
    display: block;
    margin: 2% auto 0 auto;
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
}
.flipIn1{
    opacity: 0;
width: 50%;
-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
}
.flipIn2{
    opacity: 0;
width: 80%;
-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
}
.flipInAni{
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 0);
        transform: perspective(400px) rotate3d(1, 0, 0, 0);
    opacity: 1;
}
.erweima{
    display: block;    
    width: 50%;
    margin: 16% auto;
    opacity: 0;
}
.erweimaAni{
    -webkit-animation: bounceIn 1s ,rubberBand 1s  1s;
    animation: bounceIn 1s ,rubberBand 1s  1s;
    opacity: 1;
}
.bounce{
    display: block;
    text-align: center;
    margin: 1rem 0;
    opacity: 0;
}
.bounceInAni{
    -webkit-animation: bounceIn 1s ease 0.5s 1 normal both;
    animation: bounceIn 1s ease 0.5s 1 normal both;
}
@-webkit-keyframes rubberBand{
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    }
@-webkit-keyframes flipInX{

    from {

        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    to {
        
    }
    }
            
@-webkit-keyframes jello{
    from, 11.1%, to {
        -webkit-transform: none;
        transform: none;
    }
    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }
    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }
    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }
    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }
    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }
    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}
@-webkit-keyframes zoomInRight{

    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}
           
         

@-webkit-keyframes swing{
        from {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            opacity: 0;
        }
        40% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        60% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            opacity: 1;
        }
        80% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        }
        to {
            -webkit-transform: perspective(400px);
            transform: perspective(400px);
        }
    }

@-webkit-keyframes bounceIn{

    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    }
@-webkit-keyframes zoomIn{
    from {
        opacity: 0;
        -webkit-transform: scale3d(2, 2, 2);
        transform: scale3d(2, 2, 2);
    }
    50% {
        opacity: 1;
    }
    }
@-webkit-keyframes arrowUp{
    0%{
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    }
@-webkit-keyframes fadeInLeft{

    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
    }
/* 自定义换页动画 */
@-webkit-keyframes bounceInDown{

    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes bounceInUp{

    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    }
.up{
    -webkit-animation: bounceInUp 1s;
    animation: bounceInUp 1s;
}

.down{
    -webkit-animation: bounceInDown 1s;
    animation: bounceInDown 1s;
}